[program:service-desk-worker]
process_name=%(program_name)s_%(process_num)02d

command=/usr/bin/php /var/www/service-desk/artisan queue:work redis --sleep=3 --tries=3 --timeout=90
directory=/var/www/service-desk

autostart=true
autorestart=true
stopasgroup=true
killasgroup=true

user=YOUR_USER
numprocs=1

redirect_stderr=true
stdout_logfile=/var/www/service-desk/storage/logs/queue-worker.log

stopwaitsecs=3600
